{%- extends 'layout.twig' -%}
{%- set page_title = 'Hello World' -%}

{% block page %}
    <form class="panel">
        <h1 class="h3 mb-3 font-weight-normal">Awesome! You've got Panthor up and running.</h1>

        <div class="card">
            <h5 class="card-header bg-primary">What's next?</h5>
            <div class="card-body pb-0">
                <h5 class="card-title">Edit the example page</h5>
                <p class="card-text">
                    Open <code>src/HelloWorldController.php</code> and start coding!
                    <br>Update <code>templates/hello.twig</code> to the edit the HTML.
                </p>
            </div>

            <div class="card-body">
                <h5 class="card-title">Add new pages</h5>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        Add a new PHP class such as <code>src/MyPageController.php</code>
                    </li>
                    <li class="list-group-item">
                        Add DI configuration for the class in <code>config/di.php</code>.
                        <pre class="p-1 bg-light text-secondary">{{ block('di_example') }}</pre>
                    </li>
                    <li class="list-group-item">
                        Edit <code>config/routes.yaml</code> to add new route configuration.
                        <pre class="p-1 bg-light text-secondary">{{ block('route_example') }}</pre>
                    </li>
                </ul>
            </div>

            <div class="card-body pt-0">
                <a href="{{ uriFor('hello_world') }}" class="btn btn-primary">Home</a>

                {% if is_session_enabled %}
                    <a href="{{ uriFor('test_session') }}" class="btn btn-outline-secondary">Session</a>
                {% else %}
                    <button class="btn btn-outline-secondary" disabled>Session</button>
                {% endif %}

                {% if is_cookie_enabled %}
                    <a href="{{ uriFor('test_cookie') }}" class="btn btn-outline-secondary">Cookie</a>
                {% else %}
                    <button class="btn btn-outline-secondary" disabled>Cookie</button>
                {% endif %}

                {% if route == 'test_session' and random %}
                    <a href="{{ uriFor('test_session', {}, {'random': random}) }}" class="btn btn-secondary">Test Session</a>
                {% elseif route == 'test_cookie' and random %}
                    <a href="{{ uriFor('test_cookie', {}, {'random': random}) }}" class="btn btn-secondary">Test Cookie</a>
                {% endif %}
            </div>

            <div class="card-body pt-0">
                {% if not is_session_enabled %}
                    <span class="d-block">Enable session middleware to use "Session".</span>
                {% endif %}
                {% if not is_cookie_enabled %}
                    <span class="d-block">Enable encrypted cookie middleware to use "Cookie".</span>
                {% endif %}
            </div>
        </div>

        {%- if now -%}
            Current Time: <b>{{ now|timepoint('Y-m-d H:i:s') }}</b>
        {%- endif -%}

        {%- if random -%}
            {%- if route == 'test_session' -%}
                Click <b>Test Session</b> to save <code>{{ random }}</code> to session data.
            {%- elseif route == 'test_cookie' -%}
                Click <b>Test Cookie</b> to save <code>{{ random }}</code> to cookie data.
            {%- endif -%}

            <br>

            Currently Set Value:
            {% if random_from_session -%}
                <code>{{ random_from_session }}</code>
            {%- elseif random_from_cookie -%}
                <code>{{ random_from_cookie }}</code>
            {%- else -%}
                <b>Not set.</b>
            {%- endif -%}
        {%- endif -%}

    </form>
{% endblock %}

{% block di_example %}
('example.page', MyPageController::class)
    ->arg('$template', twig('example.twig'))
{% endblock %}

{% block route_example %}
example:
    route: '/example'
    stack: ['example.page']
{% endblock %}
